@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to  right, aqua, green);
}

.calculator{
    width: 320px;
    height: 60vh;
    border-radius: 20px;
}

.calculator .display{
    height:30%;
    padding: 5px;
    background-color: #172d67;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.calculator .display h2{
    height: 60px;
    width: 97%;
    margin-top: 50px;
    font-size: 40px;
    background-color: transparent;
    border: none;
    font-family: 'Teko', sans-serif;
    color: #879bca;
    text-align: right;
}

.calculator .buttons{
    background-color: #060c26;
    height: 70%;
    border-radius: 0 0 20px 20px;
}

.calculator .buttons input{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #96a8a0;
    font-size: 25px;
    border-radius: 50%;
    margin:  5px 15px;
    border-radius: 50%;
    font-weight: 600;
    font-family: 'Teko', sans-serif;
}
.calculator .buttons input:active{
   background-color:#0db387;
   color: #212b41;
}

.calculator .buttons .btn{
    background: #212b41;
    color: #879bca;
}

.calculator .buttons .equal{
    color: #212b41;
    background-color: #879bca;
}

.calculator .buttons .equal:active{
    background-color: #b34a0d;
    color: #212b41;
}
